Repository ComputationalPsychiatry/pyhgf, pull requests merged in 2023-10, with the labels that each got.

#113 simplify binary state node prediction
  src/pyhgf/updates/prediction/binary.py
Labels: update functions, performances

#112 Add eHGF update step
  src/pyhgf/model.py
  src/pyhgf/networks.py
  src/pyhgf/updates/continuous.py
  tests/test_distribution.py
  tests/test_model.py
Labels: update functions, performances

#116 revert ehgf update step for value coupling
  src/pyhgf/updates/continuous.py
Labels: update functions

#121 Raising Exception with add_input_node if the index already exists (#118)
  src/pyhgf/model.py
Labels: nodes, networks

#117 Add support for AR1 processes
  docs/source/notebooks/0-Theory.ipynb
  docs/source/notebooks/0-Theory.md
  src/pyhgf/model.py
  src/pyhgf/updates/prediction/continuous.py
  tests/test_binary.py
  tests/test_continuous.py
  tests/test_distribution.py
Labels: documentation, update functions

#123 Update pre-commit and fix API documentation
  .pre-commit-config.yaml
  docs/source/api.rst
Labels: documentation
