Repository ComputationalPsychiatry/pyhgf, pull requests merged in 2024-03, with the labels that each got.

#168 Rename Theory notebooks
  README.md
  docs/source/learn.md
  docs/source/notebooks/0.1-Creating_networks.ipynb
  docs/source/notebooks/0.1-Creating_networks.md
  docs/source/notebooks/0.2-Theory.ipynb
  docs/source/notebooks/0.2-Theory.md
Labels: documentation

#170 sample parameters from response functions
  .github/workflows/test.yml
  docs/source/api.rst
  docs/source/conf.py
  docs/source/notebooks/2-Using_custom_response_functions.ipynb
  docs/source/notebooks/2-Using_custom_response_functions.md
  docs/source/notebooks/3-Multilevel_HGF.ipynb
  docs/source/notebooks/3-Multilevel_HGF.md
  docs/source/notebooks/Exercise_1_Using_the_HGF.ipynb
  docs/source/notebooks/Exercise_1_Using_the_HGF.md
  requirements-docs.txt
  src/pyhgf/distribution.py
  src/pyhgf/model.py
  src/pyhgf/response.py
  tests/test_distribution.py
  tests/test_responses.py
Labels: distribution, response models

#171 remove the init() method from the HGF base class
  docs/source/notebooks/0.1-Creating_networks.ipynb
  docs/source/notebooks/0.1-Creating_networks.md
  docs/source/notebooks/1.2-Categorical_HGF.ipynb
  docs/source/notebooks/1.2-Categorical_HGF.md
  docs/source/notebooks/Example_2_Input_node_volatility_coupling.ipynb
  docs/source/notebooks/Example_2_Input_node_volatility_coupling.md
  docs/source/notebooks/Example_3_Multi_armed_bandit.ipynb
  docs/source/notebooks/Example_3_Multi_armed_bandit.md
  src/pyhgf/model.py
  tests/test_categorical.py
  tests/test_model.py
  tests/test_plots.py
Labels: networks
